<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finder</title>
    <link rel="stylesheet" href="/style.css?ts={{ .Timestamp }}">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <script src="/navigation.js?ts={{ .Timestamp }}"></script>
</head>
<body data-view="columns">
<div id="toolbar" hx-preserve="true">
	<fieldset
		class="radio menubar-navigation"
		title="Show items as icons, in a list or in columns"
		role="menubar"
		aria-label="View"
	>
		<legend>View</legend>
		<label tabindex="0" role="menuitem"><input type="radio" name="view" value="icons"> <span>Icons</span></label>
		<label tabindex="0" role="menuitem"><input type="radio" name="view" value="list"> <span>List</span></label>
		<label tabindex="0" role="menuitem"><input type="radio" name="view" value="columns" checked> <span>Columns</span></label>
	</fieldset>
</div>
<nav>
    <ul id="breadcrumbs" class="menubar-navigation" role="menubar" aria-label="breadcrumbs">
        {{- range .Dirs }}
        {{- $isCurrent := eq $.CurrentPath .Path }}
        {{- if $isCurrent }}
        <li role="none"><a role="menuitem" href="{{ .Path }}"{{ if .InPath }} class="secondary"{{ end }} aria-current="page">{{ .Name }}</a></li>
        {{- else }}
        <li role="none"><a role="menuitem" href="{{ .Path }}"{{ if .InPath }} class="secondary"{{ end }}>{{ .Name }}</a></li>
        {{- end }}
        {{- end }}
    </ul>
</nav>
<div id="container" hx-boost="true">
    <nav id="panels">
	{{- range $index, $panel := .Panels }}
        <ul class="panel menubar-navigation" role="menu" data-level="{{ $index }}">
            {{- range $panel.Files }}
            {{- $path := join .Dir .Name }}
            <li role="none">
                <a
                    role="menuitem"
                    class="{{ if .IsFolder }}folder{{ end }}{{ if eq $.CurrentPath $path }} active{{ end }}{{ if .IsInBreakcrumbs }} in-breadcrumbs{{ end }}"
                    href="{{ $path }}"
                >
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{- end }}
        </ul>
    {{- end }}
    {{ with .Content }}
        <div id="content">
            {{ with .HTML }}{{ . }}{{ end }}
            {{ with .Name }}<h1>{{ . }}</h1>{{ end }}
            {{ with .Subtitle}}<p>{{ .}}</p>{{ end }}
            {{ with .Author }}<p>Author: {{ . }}</p>{{ end }}
            {{ with .Authors }}<p>Authors:
                {{ range . }}
                    {{ . }}
                {{ end }}
            {{ end }}
            {{ with .Website }}<p><a href="{{ . }}">{{ . }}</a></p>{{ end }}
            <p>
                {{ with .Wikipedia }}<a href="{{ . }}">Wikipedia</a>{{ end }}
                {{ with .GoodReads }}<a href="{{ . }}">GoodReads</a>{{ end }}
                {{ with .Twitch }}<a href="{{ . }}">Twitch</a>{{ end }}
                {{ with .YouTube }}<a href="{{ . }}">YouTube</a>{{ end }}
                {{ with .X }}<a href="{{ . }}">X</a>{{ end }}
                {{ with .Twitter }}<a href="{{ . }}">X</a>{{ end }}
                {{ with .IMDB }}<a href="{{ . }}">IMDB</a>{{ end }}
                {{ with .Steam }}<a href="{{ . }}">Steam</a>{{ end }}
                {{ with .AppStore }}<a href="{{ . }}">App Store</a>{{ end }}
                {{ with .Hulu }}<a href="{{ . }}">Hulu</a>{{ end }}
                {{ with .AdultSwim }}<a href="{{ . }}">AdultSwim</a>{{ end }}
                {{ with .Fandom }}<a href="{{ . }}">Fandom</a>{{ end }}
                {{ with .RottenTomatoes }}<a href="{{ . }}">Rotten Tomatoes</a>{{ end }}
                {{ with .Instagram }}<a href="{{ . }}">Instagram</a>{{ end }}
                {{ with .TelegramChannel }}<a href="{{ . }}">Telegram channel</a>{{ end }}
            </p>
            
            {{ with .ISBN }}<p>ISBN: {{ . }}</p>{{ end }}
            {{ with .ISBN10 }}<p>ISBN10: {{ . }}</p>{{ end }}
            {{ with .ISBN13 }}<p>ISBN13: {{ . }}</p>{{ end }}
            {{ with .Extra }}
                {{ range $key, $value := . }}
                    <p>{{ $key }}: {{ $value }}</p>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
    </nav>
</div>
{{- if not .HXRequest }}
<script type="text/javascript">
    const toolbar = document.querySelector('#toolbar');
    const container = document.querySelector('#container');

    let view = localStorage.getItem('view') || 'icons';
    console.log('view', view);
    document.body.setAttribute('data-view', view);
    toolbar.querySelector(`input[value=${view}]`).checked = true;

    let setView = function(value) {
        localStorage.setItem('view', value);
        document.body.setAttribute('data-view', value);
    };

    // if enter or space is pressed on a toolbar item, check the radio button
    toolbar.addEventListener('keydown', (event) => {
        if (event.key === 'Enter' || event.key === ' ') {
            event.target.querySelector('input').checked = true;
            setView(event.target.querySelector('input').value);
        }
    });

    toolbar.addEventListener('change', (event) => {
        setView(event.target.value);
    });
</script>
{{- end }}
</body>
</html>
