@charset "UTF-8";

:root {
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;

  --files-url: url("files.png?crc=9f90e22b");
  --files-size: 200px 100px;

  --sprite-url: url("sprite.png?crc=14aca395");
  --sprite-size: 240px 24px;
  --sprite-size-small: 180px 18px; /* 75% */

  --color-background: #ffffff;
  --color-background-higher: #f9f9f9;
  --color-background-secondary: #f5f7f6;
  --color-background-tertiary: #f4f5f5;
  --color-background-toolbar: var(--color-background);
  --color-background-selection: #2962d9;
  --color-background-selection-inactive: #dddcdc;
  --color-background-selection-lighter: #4682fb;
  --color-background-icon: #e6e6e6;
  --color-link: #2962d9;
  --color-text: #222222;
  --color-text-selection: #ffffff;
  --color-text-muted: #838383;
  --color-border: #e6e6e6;
  --color-outline: #2962d9;

  --background-radial: radial-gradient(
    82.57% 82.57% at 50% 17.43%,
    #f9f9f9 0%,
    #eeeeee 100%
  );
  --background-gradient: linear-gradient(
    180deg,
    var(--color-background),
    var(--color-background-secondary)
  );
  --background-stripes-light: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.1) 20px
  );
  --background-stripes-dark: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 20px
  );
  --background-stripes-size: 28.28px 28.28px;
  --background-stripes-animation: htmx-request 1s linear infinite;

  --border-radius-avatar: 100%;
  --border-radius-medium: 2px;
  --border-radius-small: 1px;

  --shadow-button: inset 0 -3px 10px rgba(0, 0, 0, 0.1),
    inset 0 -2px 2px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);

  --shadow-thumb: 0 2px 2px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  --shadow-avatar: 0px 1px 1px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.2),
    inset 0 -0px 2px 0px rgba(0, 0, 0, 0.2);
  --shadow-small: 0 1px 1px rgba(0, 0, 0, 0.2);
  --shadow-big: 0 10px 20px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px 0px rgba(255, 255, 255, 0.2);
  --shadow-text-light: 0 1px 0px rgba(255, 255, 255, 0.5);
  --shadow-text-dark: 0 -1px 0px rgba(0, 0, 0, 0.5);
  --shadow-depth: inset 0 3px 10px rgba(0, 0, 0, 0.05),
    inset 0 3px 7px rgba(0, 0, 0, 0.1), inset 0 -3px 7px rgba(0, 0, 0, 0.1),
    inset 0 -1px 1px rgba(0, 0, 0, 0.1);

  --outline-small: 0.5px solid rgba(0, 0, 0, 0.5);

  /* default values */
  --comp-margin-top: 0px;
  --comp-margin-right: 0px;
  --comp-margin-bottom: 0px;
  --comp-margin-left: 0px;
  --small-comp-margin-right: 0px;
  --small-comp-margin-left: 0px;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 23px;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
}

code {
  padding: 0 0.2em;
  background-color: var(--color-background-secondary);
  border-radius: 0.3em;
}

pre {
  padding: 0.2em 0.4em;
  background-color: var(--color-background-secondary);
  border-radius: 0.3em;
  margin-bottom: 10px;
  font-size: 14px;
  overflow: scroll;
}

pre code {
  padding: 0;
  background: none;
  border: none;
}

.htmx-request {
  background-image: var(--background-stripes-dark);
  background-size: var(--background-stripes-size);
  animation: var(--background-stripes-animation);
}

@keyframes htmx-request {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -28.28px 0;
  }
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
}

#logo {
  position: absolute;
  left: 10px;
}

#logo a {
  float: left;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background: url("/logo.png?a=1") no-repeat;
  background-size: cover;
}

#logo a:focus {
  outline: thin solid var(--color-outline);
}

#container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative; /* for absolute positioning of panels */
  overflow-x: scroll;
}

fieldset.radio {
  display: flex;
  height: 44px;
  border: 0.5px solid var(--color-border);
  border-radius: 8px;
  user-select: none;
  box-shadow: var(--shadow-button);
}

fieldset.radio legend {
  display: none;
}

fieldset.radio label {
  padding: 10px 15px;
}

fieldset.radio span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: var(--sprite-url);
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  background-position: 0 0;
  text-indent: -5000px;
  filter: opacity(0.8);
}

fieldset.radio input[value="list"] + span {
  background-position: -24px 0;
}

fieldset.radio input[value="columns"] + span {
  background-position: -48px 0;
}

fieldset.radio input {
  display: none;
}

fieldset.radio label + label {
  border-left: 0.5px solid rgba(0, 0, 0, 0.25);
}

fieldset.radio label:has(input:checked) {
  background-color: var(--color-background-secondary);
  box-shadow: var(--shadow-depth);
}

fieldset.radio label:focus {
  outline: none;
  z-index: 1;
}

fieldset.radio label:first-of-type {
  border-radius: 7px 0 0 7px; /* 8px -1px to compensate for the gap */
}

fieldset.radio label:last-of-type {
  border-radius: 0 7px 7px 0; /* 8px -1px to compensate for the gap */
}

#searchWrapper {
  position: absolute;
  right: 10px;
  z-index: 100;
}
#searchWrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  background-image: var(--sprite-url);
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  background-position: -120px 0;
  pointer-events: none;
  cursor: text;
}

#search {
  width: 200px;
  height: 44px;
  padding: 0 15px 0 40px;
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 23px;
  border-radius: 100px;
  color: var(--color-text);
  background-color: var(--color-background);
  border: none;
  box-shadow:
    inset 0 12px 23px rgba(0, 0, 0, 0.05),
    inset 0 2px 3px rgba(0, 0, 0, 0.1),
    inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}
#search:focus {
  outline: thin solid var(--color-outline);
  z-index: 1;
}

#breadcrumbs {
  --background-stripes-dark: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.05) 10px,
    rgba(0, 0, 0, 0.05) 20px
  );

  display: flex;
  font-size: 10pt;
  border-bottom: 1px solid var(--color-border);
  list-style: none;
  overflow: hidden; /* cut off the li shadow */
}

#breadcrumbs li:not(:last-child) {
  /* makes arrow-ed border between li */
  filter: drop-shadow(1px 0px 0px var(--color-border));
}

#breadcrumbs a {
  display: inline-block;
  padding: 0 16px;
  background-color: var(--color-background);
  color: var(--color-text);
  text-decoration: none;
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 50%,
    calc(100% - 10px) 100%,
    0 100%,
    10px 50%
  );
  box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.05);
  cursor: default;
}

#breadcrumbs span {
  display: block;
  padding: 0 7px; /* 16px - 9px */
  cursor: default;
}

#breadcrumbs li:first-child a {
  padding-left: 10px; /* to align with files in panels */
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 50%,
    calc(100% - 10px) 100%,
    0 100%
  ); /* no arrow on the left */
}

#breadcrumbs li:first-child span {
  padding-left: 10px;
}

#breadcrumbs li + li a {
  margin-left: -9px; /* to leave 1 px gap between li for border */
}

#breadcrumbs a:active {
  background-color: var(--color-background-secondary);
}

#breadcrumbs a:focus {
  background-color: var(--color-background-secondary);
  outline: 2px solid var(--color-outline);
  z-index: 1;
  filter: none;
}

/* container is a "view" that can show "files" as icons, list, or columns */
/* container has a list of panels, used in "columns" view to show hierachy */
#panels {
  position: absolute;
  bottom: 0;
  top: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

/* panel is a list of files inside one directory */
.panel {
  width: 100%;
  list-style: none;
  cursor: default;
  overflow-y: scroll;
}

/* panel li is a file or directory */
.panel li {
  display: flex;
}

.panel li a {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  align-items: center;
  color: var(--color-text);
  text-decoration: none;
  cursor: default;
}

.panel li a:focus {
  background-color: var(--color-background-secondary);
}

.panel li a.htmx-request:focus {
  background-image: var(--background-stripes-light);
}

.panel li a:active {
  background-color: var(--color-background-secondary);
}

.panel li a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel .in-path {
  background-color: var(--color-background-selection-inactive);
}

.panel .missing::before {
  opacity: 0.5;
}

.content {
  height: 100%;
  width: 641px; /* 640 + 1px border */
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid var(--color-border);
  flex-shrink: 0;
}

.content:focus {
  outline: none;
  box-shadow: inset 0 0 2px 1px var(--color-outline);
}

.content .thumb {
  float: right;
  width: 200px;
  max-width: 50%;
  margin: 0 0 10px 10px;
}

.content .thumb.jpg {
  box-shadow: var(--shadow-thumb);
  border-radius: var(--border-radius-medium);
}

.content .thumb.people {
  border-radius: var(--border-radius-avatar);
}

.content h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  line-height: 1.3em;
  margin-top: -0.3em; /* to compensate for the line-height */
}

.content h1.with-subtitle {
  margin-bottom: 0;
}

.content h2 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 10px;
}

.content p + ul {
  margin-top: -10px;
}

.content ul,
.content ol {
  margin-bottom: 10px;
  padding-left: 20px;
}

.content ul.flat {
  list-style: none;
  padding-left: 0;
}

.content ul.flat li + li {
  margin-top: 0.33em;
}

.content .connections .connections {
  margin-top: 0.33em;
}

.content ul.inline {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.content ul.inline li {
  display: inline;
}

.content ul.inline li:not(:last-child)::after {
  content: ",";
  margin-right: 0.33em;
}

.content .list:not(:last-child) {
  display: inline-flex; /* to avoid space before comma */
}

.content .list:not(:last-child)::after {
  content: ",";
}

.content a.website {
  overflow-wrap: break-word;
}

.content a.missing {
  text-decoration-style: dashed;
}

.content .labels,
.content .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px 10px;
  align-items: center;
}

.content .labels {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.content .labels .genre {
  padding: 0px 7px;
  background-color: var(--color-background-secondary);
  border-radius: 7px;
  text-transform: capitalize;
}

.content .labels .length {
  padding: 0;
  background: none;
  border-radius: 0;
  text-transform: none;
}

.content div.missing {
  font-style: italic;
}

.content .characters {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fill, 150px);
  align-content: start;
  clear: both;
}

.content .characters li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: flex-start;
  width: 150px;
  padding: 10px;
}

.content .characters .image {
  width: 100px;
  margin-bottom: 10px;
  backgrond: var(--background-radial);
  border-radius: var(--border-radius-avatar);
  box-shadow: var(--shadow-avatar);
}

.content .characters .no-image {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background: var(--background-radial);
  align-self: center;
  justify-content: center;
  align-items: center;
  font-size: 34pt;
  border-radius: var(--border-radius-avatar);
  box-shadow: var(--shadow-avatar);
  background-size: 100%; /* in case background-image is overridden */
}

/* show yellow dot next to character name without image, if image was uploaded */
.content .characters .no-image[style^="background-image"] + .name::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #c4a000;
  margin-left: 3px;
  margin-bottom: 2px;
}

.content .characters .actor {
  font-style: italic;
  padding-right: 3px; /* to separate from award */
}

.content .characters .actor::last-child {
  padding-right: 0;
}

.reference.has-image::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  background-repeat: no-repeat;
  width: var(--width);
  height: var(--height);
  margin-left: var(--comp-margin-left);
  margin-right: calc(var(--comp-margin-right) + 5px);
  margin-top: var(--comp-margin-top);
  margin-bottom: calc(
    var(--comp-margin-bottom) - 7px
  ); /* compensate for line height */
}

.reference.has-image.jpg::before {
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-small);
  outline: var(--outline-small);
}

.reference.has-image.character::before,
.reference.has-image.people::before {
  border-radius: var(--border-radius-avatar);
}

/* ICONS */

[data-view="icons"] .panel {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fill, 130px);
  align-content: start;
  align-items: start;
  padding: 10px 20px;
  gap: 10px 20px;
}

[data-view="icons"] .panel:not(:last-child) {
  /* hide app panels except the last one (current) */
  display: none;
}

[data-view="icons"] .panel li {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  width: 130px;
  padding: 10px;
}

[data-view="icons"] .panel li.header {
  display: none;
}

[data-view="icons"] .panel li a {
  flex-direction: column;
  border-radius: 10px;
  padding: 4px 0; /* 4px is the outline width */
}

[data-view="icons"] .panel li a:focus {
  outline: none;
  background: transparent;
}

[data-view="icons"] .panel li a span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: inherit;
  border-radius: 6px;
  overflow: hidden;
}

[data-view="icons"] .panel li a span.column {
  display: none;
}

[data-view="icons"] .panel li a:focus span {
  padding: 1px 6px;
  margin: -1px -6px;
  background-color: var(--color-background-selection);
  color: var(--color-text-selection);
}

[data-view="icons"] .panel li a.htmx-request:focus span {
  background-image: var(--background-stripes-light);
  background-size: var(--background-stripes-size);
  animation: var(--background-stripes-animation);
}

[data-view="icons"] .panel li a::before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
  background-image: var(--files-url);
  background-size: var(--files-size);
  background-repeat: no-repeat;
  background-position: 0 0;
}

[data-view="icons"] .panel li a:focus::before {
  outline: 4px solid var(--color-background-icon);
  background-color: var(--color-background-icon);
  border-radius: 4px;
}

[data-view="icons"] .panel li a.has-image::before {
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  width: var(--width);
  height: var(--height);
  margin-top: var(--comp-margin-top);
  margin-bottom: calc(var(--comp-margin-bottom) + 10px);
}

[data-view="icons"] .panel li a.has-image.jpg::before {
  box-shadow: var(--shadow-avatar);
  border-radius: var(--border-radius-medium);
}

[data-view="icons"] .panel li a.has-image.people::before,
[data-view="icons"] .panel li a.has-image[href^="/People/"]::before {
  border-radius: var(--border-radius-avatar);
}

[data-view="icons"] .panel .folder::before {
  background-position: -100px 0;
}

/* LIST */

[data-view="list"] .panel {
  display: table;
  margin-bottom: auto;
  position: relative;
}

[data-view="list"] .panel li {
  display: table-row-group;
}

[data-view="list"] .panel li:nth-child(odd) {
  background-color: var(--color-background-tertiary);
}

[data-view="list"] .panel li.header {
  display: table-header-group;
  position: sticky;
  top: 0;
  background-image: var(--background-gradient);
  z-index: 1;
}

[data-view="list"] .panel li.header span {
  font-size: 75%;
  font-weight: 600;
  border-bottom: 1px solid var(--color-border);
  padding-top: 2px;
  padding-bottom: 2px;
}

[data-view="list"] .panel li.header span.icon {
  width: 44px;
}

[data-view="list"] .panel li.header span {
  display: table-cell;
}

[data-view="list"] .panel a {
  display: table-row;
}

[data-view="list"] .panel a span {
  display: table-cell;
  padding: 5px 0;
}

[data-view="list"] .panel a span:first-child {
  padding-right: 10px;
}

[data-view="list"] .panel a::before {
  margin: -5px 10px -6px; /* align with the text */
}

[data-view="list"] .panel li .column {
  display: table-cell;
  white-space: nowrap;
  padding: 0 10px;
}

[data-view="list"] .panel li .column.expand {
  width: 100%;
}

[data-view="list"] .panel:not(:last-child) {
  /* hide app panels except the last one (current) */
  display: none;
}

[data-view="list"] .panel a {
  font-variant-numeric: tabular-nums;
}

[data-view="list"] .panel a:focus {
  background-color: var(--color-background-selection);
  color: var(--color-text-selection);
  outline: none;
}

[data-view="list"] .panel a::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  background-image: var(--sprite-url);
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  background-position: -72px 0;
}

[data-view="list"] .panel a.has-image::before {
  background-image: var(--background-image);
  background-size: var(--small-background-size);
  background-position: var(--small-background-position);
  width: var(--small-width);
  height: var(--small-height);
  margin-left: calc(var(--small-comp-margin-left) + 10px);
  margin-right: calc(var(--small-comp-margin-right) + 10px);
  margin-top: calc(var(--small-comp-margin-top, 0px) - 5px);
  margin-bottom: calc(var(--small-comp-margin-bottom, 0px) - 6px);
}

[data-view="list"] .panel a.has-image.jpg::before {
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-small);
  outline: var(--outline-small);
}

[data-view="list"] .panel li a.has-image.people::before,
[data-view="list"] .panel li a.has-image[href^="/People/"]::before {
  border-radius: var(--border-radius-avatar);
}

[data-view="list"] .panel .folder::before {
  background-position: -96px 0;
}

/* COLUMNS */

[data-view="columns"] .panel {
  border-right: 1px solid var(--color-border);
  width: 230px;
  flex-shrink: 0;
}

[data-view="columns"] .panel a {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

[data-view="columns"] .panel a:focus {
  z-index: 1;
  filter: none;
  background-color: var(--color-background-selection);
  color: var(--color-text-selection);
  outline: none;
}

[data-view="columns"] .panel a::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  background-image: var(--sprite-url);
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  background-position: -72px 0;
}

[data-view="columns"] .panel a.has-image::before {
  background-image: var(--background-image);
  background-size: var(--small-background-size);
  background-position: var(--small-background-position);
  width: var(--small-width);
  height: var(--small-height);
  margin-left: var(--small-comp-margin-left);
  margin-right: calc(var(--small-comp-margin-right) + 5px);
}

[data-view="columns"] .panel a.has-image.jpg::before {
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-small);
  outline: var(--outline-small);
}

[data-view="columns"] .panel a.has-image.people::before,
[data-view="columns"] .panel a.has-image[href^="/People/"]::before {
  border-radius: var(--border-radius-avatar);
}

[data-view="columns"] .panel .folder::before {
  background-position: -96px 0;
}

[data-view="columns"] .panel .folder {
  position: relative;
  padding-right: 20px;
}

[data-view="columns"] .panel .folder::after {
  content: "ᐳ";
  display: inline-block;
  position: absolute;
  right: 10px;
  font-size: 10px;
  transform: scaleX(0.65);
  color: #989d9f;
}

[data-view="columns"] .panel .folder:focus::after {
  color: var(--color-text-selection);
}

[data-view="columns"] .panel li a {
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-view="columns"] .panel li.header {
  display: none;
}

[data-view="columns"] .panel li a span.column {
  display: none;
}

.award {
  display: inline-block;
  margin: -8px 0 -3px; /* align with the text */
  width: 18px;
  height: 18px;
  background-image: var(--sprite-url);
  background-repeat: no-repeat;
  background-size: var(--sprite-size-small);
  background-position: -108px 0;
  animation: none;
}

.award.with-text {
  display: inline-flex;
  margin: auto;
  width: auto;
  height: auto;
  background: none;
}

.award.with-text::before {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  margin-top: 2px;
  margin-right: 3px;
  margin-bottom: 0;
  width: 18px;
  height: 18px;
  background-image: var(--sprite-url);
  background-repeat: no-repeat;
  background-size: var(--sprite-size-small);
  background-position: -108px 0;
}

.award[href*="/Oscar/"],
.award.with-text[href*="/Oscar/"]::before {
  background-position: -126px 0;
}

.award[href*="/The Game Awards/"],
.award.with-text[href*="/The Game Awards/"]::before {
  background-position: -144px 0;
}

.award[href*="/BAFTA/"],
.award.with-text[href*="/BAFTA/"]::before {
  background-position: -162px 0;
}

p .award {
  margin-right: 3px;
}

p .award + .award {
  margin-left: -3px;
}

#backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
}

#uploader {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 573px; /* emperically determined */
  margin: auto;
  border-radius: 20px;
  background-color: var(--color-background-secondary);
  box-shadow: var(--shadow-big);
  z-index: 101;
  overflow: hidden; /* crop .buttons background */
}

#uploader h1 {
  font-size: 16pt;
  font-weight: 500;
  padding: 14px 20px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#uploader .croppie-container .cr-boundary {
  width: 420px;
  height: 420px;
}

#uploader .croppie-container .cr-slider {
  padding: 0;
  height: 18px;
}

#uploader .croppie-container .cr-slider-wrap {
  display: flex;
}

#uploader .croppie-container .cr-viewport {
  border: none;
  box-shadow: 0 0 2000px 2000px rgba(245, 247, 246, 0.8);
}

#uploader .cr-slider::-webkit-slider-thumb {
  background: var(--background-radial);
  box-shadow: var(--shadow-avatar);
}

#uploader .cr-slider::-moz-range-thumb {
  background: var(--background-radial);
  box-shadow: var(--shadow-avatar);
}

#uploader .buttons {
  display: flex;
  flex-direction: row;
  margin: 0 10px 10px;
  gap: 10px;
}

#uploader .buttons button {
  flex-grow: 1;
  height: 44px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-default);
  color: var(--color-text);
  border-radius: 8px;
  border: 0.5px solid var(--color-border);
  background-color: var(--color-background-higher);
  box-shadow: var(--shadow-button);
  text-shadow: var(--shadow-text-light);
  user-select: none;
}

#uploader .buttons button.primary {
  background-color: var(--color-background-selection);
  color: var(--color-text-selection);
  text-shadow: var(--shadow-text-dark);
}

#uploader .buttons button:active {
  background-color: var(--color-background-secondary);
  box-shadow: var(--shadow-depth);
}

#uploader .buttons button.primary:active {
  background-color: var(--color-background-selection);
}

#uploader .buttons button:disabled {
  color: var(--color-text-muted);
  box-shadow: none;
  text-shadow: none;
  opacity: 0.8;
}

#uploader .buttons button.primary:disabled {
  background-color: var(--color-background-selection-lighter);
  color: var(--color-text-selection);
  text-shadow: none;
}

#uploader .buttons button.htmx-request:disabled {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333030;
    --color-background-tertiary: #2e2b2b;
    --color-background-secondary: #484545;
    --color-background-higher: #696969;
    --color-background-selection: #0059d1;
    --color-background-selection-inactive: #474747;
    --color-background-selection-lighter: #2c79f4;
    --color-background-toolbar: #343b3e;
    --color-background-icon: #474747;
    --color-text: #dedddd;
    --color-text-selection: var(--color-text);
    --color-text-muted: #989d9f;
    --color-border: #222222;
    --color-link: #a8c7fa;
    --background-radial: radial-gradient(
      82.57% 82.57% at 50% 17.43%,
      #696969 0%,
      #484545 100%
    );
    --background-gradient: linear-gradient(
      0deg,
      var(--color-background),
      var(--color-background-secondary)
    );
    --background-stripes-light: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      rgba(0, 0, 0, 0.1) 10px,
      rgba(0, 0, 0, 0.1) 20px
    );
    --background-stripes-dark: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    );
    --shadow-button: inset 0 -3px 10px rgba(0, 0, 0, 0.2),
      inset 0 -2px 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  #toolbar {
    --color-background: #2e2b2b;
  }
  #logo a {
    background: url("/logo-dark.png") no-repeat;
    background-size: cover;
  }
  fieldset {
    --color-border: #222222;
  }
  fieldset.radio {
    background-color: #3b3838;
  }
  fieldset.radio span {
    filter: invert(0.8); /* invert sprite black to white */
  }
  fieldset.radio label:has(input:checked) {
    background-color: var(--color-background-tertiary);
  }
  fieldset.radio label:focus {
    filter: none;
  }
  fieldset.radio label:focus span {
    filter: invert(1); /* make icon brighter */
  }
  #search {
    box-shadow:
      inset 0 12px 23px rgba(0, 0, 0, 0.3),
      inset 0 1px 2px rgba(0, 0, 0, 0.4),
      inset 0 -1px 1px rgba(255, 255, 255, 0.1);
  }
  #searchWrapper::before {
    filter: invert(0.6);
  }

  .award {
    filter: invert(0.8);
  }

  .award.with-text {
    filter: none;
  }
  .award.with-text::before {
    filter: invert(0.8);
  }
  .award[href*="/BAFTA/"],
  .award[href*="/BAFTA/"]::before {
    filter: none; /* BAFTA logo is yellow */
  }

  #breadcrumbs {
    --background-stripes-dark: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    );
  }

  #breadcrumbs a {
    background-color: var(--color-background-tertiary);
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.2);
  }

  #backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #uploader .croppie-container .cr-viewport {
    box-shadow: 0 0 2000px 2000px rgba(72, 69, 69, 0.8);
  }
  #uploader .buttons button {
    background-color: var(--color-background-secondary);
    text-shadow: var(--shadow-text-dark);
  }
  #uploader .buttons button:active {
    filter: brightness(0.9);
  }
}

/* mobile */
@media (max-width: 641px) {
  .content {
    width: 100%;
    border-right: none;
  }
  .content .characters {
    justify-content: space-around;
  }
}
/* disable columns view, set max width for container */
@media (max-width: 600px) {
  #breadcrumbs {
    overflow-x: scroll;
    white-space: nowrap;
  }
  #breadcrumbs::-webkit-scrollbar {
    display: none;
  }
  [data-view="list"] .panel:not(:last-child) {
    display: none;
  }
  [data-view="icons"] .panel {
    justify-content: space-around;
  }
  fieldset.radio {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  #searchWrapper {
    width: 44px;
    transition: width 0.2s ease-in-out;
  }
  #search {
    width: 100%;
    padding: 0 15px;
    color: transparent;
    text-indent: -5000px; /* so that when cursor is placed in the field, it always at the end of the input text */
    padding-right: 0px;
    transition: padding-right 0.2s ease-in-out;
  }
  #search::placeholder {
    color: transparent;
  }
  #search:focus {
    width: 100%;
    padding: 0 15px 0 40px;
    color: inherit;
    text-indent: 0;
  }
  #searchWrapper:has(#search:focus) {
    width: calc(
      100% - 20px /* body padding */ - 44px /* logo width */ - 10px
        /* additional margin */
    );
    /* transition: width 0.2s ease-in-out 0.2s; */
  }
  /* hide fieldset.radio if #searchWrapper after it has focused #search input */
  #searchWrapper:has(#search:focus) + fieldset.radio {
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.2s;
  }
}

@media (max-width: 370px) {
  .content .thumb {
    float: none;
    margin: 0 auto 1em;
    max-width: 100%;
  }
}
