{{ define "awards_with_text" }}
{{- /*
awards_with_text template used to display award information at the top of the content
Input: []Award
*/ -}}
{{- range . }}
        <li><a class="award with-text" href="/{{ .Reference }}">{{ .Category }}</a></li>
{{- end }}
{{- end }}
