{{ define "breadcrumbs" }}
<nav>
    <ul id="breadcrumbs" class="menubar-navigation" role="menubar" aria-label="breadcrumbs" hx-boost="true">
        {{- range .Breadcrumbs }}
        {{- $slash := "/" }}
        {{- if eq .Path "" }}
        {{- $slash = "" }}
        {{- end }}
        {{- $isCurrent := or .IsCurrent (eq $.CurrentPath .Path) }}
        {{- $sharedPanelPath := sharedPanelPath .Path }}
        {{- if $isCurrent }}
        <li role="none"{{ if $sharedPanelPath }} data-shared-panel-breadcrumb="/{{ $sharedPanelPath }}?crc={{ crc32 $sharedPanelPath }}" data-shared-panel-state="loading"{{ end }}><span>
            {{- if and $.Content $.Content.GetName }}
                {{- $.Content.GetName }}
            {{- else }}
                {{- .Name }}
            {{- end -}}
        </span></li>
        {{- else }}
        <li role="none"{{ if $sharedPanelPath }} data-shared-panel-breadcrumb="/{{ $sharedPanelPath }}?crc={{ crc32 $sharedPanelPath }}" data-shared-panel-state="loading"{{ end }}><a role="menuitem" href="/{{ .Path }}{{ $slash }}">{{ .Name }}</a></li>
        {{- end }}
        {{- end }}
    </ul>
</nav>
{{ end }}
