{{ define "character" }}
{{- $content := content .Path }}
{{- $character := character $content .Character }}
<span class="reference character{{ if $character.Image }} has-image{{ if isJPG $content.Image.Path }} jpg{{end}}{{ end }}"
{{- if $character.Image }} style="--background-image: url('https://media.alsosee.info/{{ escape .Path }}/Characters/{{ $character.Image.ThumbPath }}'); {{ thumbStylePx $character.Image 24 "--" }}"{{ end }}>
{{- $character.Name -}}
</span>
{{ end }}
