<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="Also, see">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{ title .Breadcrumbs }}</title>
    <link rel="stylesheet" href="/style.css?crc={{ crc32 "style.css" }}">
    <link rel="stylesheet" href="/print.css?crc={{ crc32 "print.css" }}" media="print">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon_192r.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon_512r.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <script src="/meilisearch.umd.js"></script>
    {{- if .Content }}
    <link rel="edit" href="https://github.com/alsosee/info/edit/main/{{ .Content.Source }}">
    {{- else }}
    <link rel="edit" href="https://github.com/alsosee/info/tree/main/{{ .CurrentPath }}">
    {{- end }}
    {{- if eq (len .Breadcrumbs) 1 }}
    <meta property="og:image" content="https://media.alsosee.info/opengraph.png">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1080">
    <meta property="og:title" content="Also, see">
    <meta property="og:description" content="A collection of things, people and more">
    <meta property="og:url" content="https://alsosee.info">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Also, see">
    <meta name="twitter:image" content="https://media.alsosee.info/twitter.png">
    {{- end }}
</head>
<body data-view="columns">
<div id="toolbar" hx-preserve="true">
    <div id="menu" tabindex="0" onclick="toggleMenu()">
        <span id="logo"></span>
        <span class="toggle"></span>
    </div>
    <ul id="menu_popup">
        <li class="current"><span>alsosee.info</span></li>
        <li><a href="https://ru.alsosee.info">ru.alsosee.info</a></li>
    </ul>
    <fieldset
        class="radio menubar-navigation"
        title="Show items as icons, in a list or in columns"
        role="menubar"
        aria-label="View">
        <legend>View</legend>
        <label tabindex="0" role="menuitem"><input type="radio" name="view" value="icons"> <span>Icons</span></label>
        <label tabindex="0" role="menuitem"><input type="radio" name="view" value="list"> <span>List</span></label>
        <label tabindex="0" role="menuitem"><input type="radio" name="view" value="columns" checked> <span>Columns</span></label>
    </fieldset>
    <label id="searchWrapper">
        <input id="search" type="search" role="searchbox" placeholder="Search" oninput="search(event)" autocomplete="off">
    </label>
</div>
<nav>
    <ul id="breadcrumbs" class="menubar-navigation" role="menubar" aria-label="breadcrumbs" hx-boost="true">
        {{- range .Breadcrumbs }}
        {{- $slash := "/" }}
        {{- if eq .Path "" }}
        {{- $slash = "" }}
        {{- end }}
        {{- $isCurrent := eq $.CurrentPath .Path }}
        {{- if $isCurrent }}
        <li role="none"><span>
            {{- if and $.Content $.Content.Name }}
                {{- $.Content.Name }}
            {{- else }}
                {{- .Name }}
            {{- end -}}
        </span></li>
        {{- else }}
        <li role="none"><a role="menuitem" href="/{{ .Path }}{{ $slash }}">{{ .Name }}</a></li>
        {{- end }}
        {{- end }}
    </ul>
</nav>
<div id="container" hx-boost="true">
    <nav id="panels">
    {{- $lenPanels := len $.Panels }}
    {{- range $index, $panel := .Panels }}
        {{- renderPanel $panel $index (and (isLast $index $lenPanels) (not $.Content)) $.CurrentPath }}
    {{- end }}
    {{- if .Content }}
        {{- template "content" . }}
        <div id="_"></div>
    {{- end }}
    </nav>
</div>
<div id="backdrop" hx-preserve="true">
    <div id="uploader">
        <h1 id="uploader_target"></h1>
        <div id="uploader_preview"></div>
        <div id="uploader_args">
            <input type="number" min="100" max="2084" id="uploader_width" placeholder="Width" oninput="uploader_set_width(this)"> ×
            <input type="number" min="100" max="2084" id="uploader_height" placeholder="Height" oninput="uploader_set_height(this)">
        </div>
        <div class="buttons">
            <button class="dismiss" onclick="uploader_cancel()">Cancel</button>
            <button id="btn_uploader_upload" class="primary" onclick="uploader_upload()">Upload</button>
        </div>
    </div>
</div>
<script src="/scripts.js?crc={{ crc32 "scripts.js" }}" hx-preserve="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" hx-preserve="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pica/9.0.1/pica.min.js" hx-preserve="true"></script>
</body>
</html>
