<!doctype html>
<html lang="{{ (config).Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="{{ (config).Title }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#333030" media="(prefers-color-scheme: dark)">
    <title>{{ formatTitle .Breadcrumbs }}</title>
    <link rel="stylesheet" href="/style.css?crc={{ crc32 "style.css" }}">
    <link rel="stylesheet" href="/print.css?crc={{ crc32 "print.css" }}" media="print">
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon_192r.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon_512r.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <script src="/meilisearch.umd.js"></script>
    {{- if .Content }}
        {{- if not .Content.Source }}
    <link rel="edit" href="{{ (config).Repo }}/new/main/{{ .CurrentPath }}/?filename={{ htmlEscape .Content.GetName }}.yml&value={{ value .Content .CurrentPath }}">
        {{- else }}
    <link rel="edit" href="{{ (config).Repo }}/edit/main/{{ .Content.Source }}">
        {{- end }}
    {{- else }}
    <link rel="edit" href="{{ (config).Repo }}/tree/main/{{ .CurrentPath }}">
    {{- end }}
    {{- if eq (len .Breadcrumbs) 1 }}
    <meta property="og:image" content="{{ (config).OpenGraph.Image }}">
    <meta property="og:image:width" content="{{ (config).OpenGraph.Width }}">
    <meta property="og:image:height" content="{{ (config).OpenGraph.Height }}">
    <meta property="og:title" content="{{ (config).Title }}">
    <meta property="og:description" content="{{ (config).Description }}">
    <meta property="og:url" content="{{ (config).URL }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ (config).Title }}">
    <meta name="twitter:image" content="{{ (config).OpenGraph.TwitterImage}}">
    {{- end }}
</head>
<body data-view="columns">
{{ template "toolbar" (config) }}
{{ template "breadcrumbs" . }}
<div id="container" hx-boost="true">
    <nav id="panels">
    {{- $lenPanels := len $.Panels }}
    {{- range $index, $panel := .Panels }}
        {{- renderPanel $panel $index (and (isLast $index $lenPanels) (not $.Content)) $.CurrentPath }}
    {{- end }}
    {{- if .Content }}
        {{- template "content" . }}
        <div id="_"></div>
    {{- end }}
    </nav>
</div>
<div id="backdrop" hx-preserve="true">
    <div id="uploader">
        <h1 class="title"></h1>
        <div class="body">
            <div class="preview"></div>
            <div class="loading">
                <div class="spinner">
                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="4" height="19" rx="2" transform="matrix(0 1 1 0 50 32.9999)" fill="black"/>
                        <rect opacity="0.9" width="4" height="19" rx="2" transform="matrix(0.5 0.866025 0.866025 -0.5 46.9904 25.7679)" fill="black"/>
                        <rect opacity="0.8" width="4" height="19" rx="2" transform="matrix(0.866025 0.5 0.5 -0.866025 40.7679 21.0096)" fill="black"/>
                        <rect opacity="0.7" width="4" height="19" rx="2" transform="matrix(1 0 0 -1 33 19.9999)" fill="black"/>
                        <rect opacity="0.6" width="4" height="19" rx="2" transform="matrix(0.866025 -0.5 -0.5 -0.866025 25.7679 23.0096)" fill="black"/>
                        <rect opacity="0.5" width="4" height="19" rx="2" transform="matrix(0.5 -0.866025 -0.866025 -0.5 21.0096 29.232)" fill="black"/>
                        <rect opacity="0.4" width="4" height="19" rx="2" transform="matrix(0 -1 -1 0 20 36.9999)" fill="black"/>
                        <rect opacity="0.3" width="4" height="19" rx="2" transform="matrix(-0.5 -0.866025 -0.866025 0.5 23.0096 44.232)" fill="black"/>
                        <rect opacity="0.2" width="4" height="19" rx="2" transform="matrix(-0.866025 -0.5 -0.5 0.866025 29.2321 48.9903)" fill="black"/>
                        <rect opacity="0.1" width="4" height="19" rx="2" transform="matrix(-1 0 0 1 37 49.9999)" fill="black"/>
                    </svg>
                </div>
            </div>
            <div class="error"></div>
            <div class="args">
                <input type="number" min="100" max="2084" id="uploader_width" placeholder="Width" oninput="uploader_set_width(this)"> ×
                <input type="number" min="100" max="2084" id="uploader_height" placeholder="Height" oninput="uploader_set_height(this)">
            </div>
        </div>
        <div class="buttons">
            <button class="dismiss" onclick="uploader_cancel()">{{ (config).LabelCancel }}</button>
            <button id="btn_uploader_upload" class="primary" onclick="uploader_upload()">{{ (config).LabelUpload }}</button>
        </div>
    </div>
</div>
<script src="/localdata.min.js?crc={{ crc32 "localdata.min.js" }}" hx-preserve="true"></script>
<script src="/scripts.js?crc={{ crc32 "scripts.js" }}" hx-preserve="true"></script>
<script src="/uploader.js?crc={{ crc32 "uploader.js" }}" hx-preserve="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" hx-preserve="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pica/9.0.1/pica.min.js" hx-preserve="true"></script>
</body>
</html>
